* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  overscroll-behavior: none;
  overscroll-behavior-y: none;
  height: 100vh;
}
:root {
  --primary-header-height: 60px; /** 顶部导航栏高度 */
}
